# DBRS Technical Assessment

## Import Pandas

In [192]:
import pandas as pd

## Task 1

1) Load data(2017_SR_Subset) into a dataframe df1

2) Fetch 10 common 'complaint_types' and store as a Series

3) Filter dataframe rows only if value in 'complaint_type' column is present in series

4) Group dataframe rows by 'borough', and for each 'borough', count occurrence of 'top_10_complaint_type'

In [193]:
# Read csv dataset into a dataframe
df1 = pd.read_csv('2017_SR_subet_vs.csv', low_memory=False)

In [194]:
# Inspect dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439273 entries, 0 to 2439272
Data columns (total 6 columns):
Unique Key        int64
Created Date      object
Complaint Type    object
Incident Zip      object
City              object
Borough           object
dtypes: int64(1), object(5)
memory usage: 111.7+ MB

In [210]:
# Rename dataframe column names
df1.rename(columns={'Complaint Type': 'complaint_type', 'Borough': 'borough', 'Incident Zip':'incident_zip'}, inplace=True)

In [200]:
# Get the 10 common complaint types
top_10_complaint_types = df1['complaint_type'].value_counts().head(10)

In [201]:
top_10_complaint_types

Noise - Residential        229395
HEAT/HOT WATER             210750
Illegal Parking            145883
Blocked Driveway           135677
Street Condition            93231
Street Light Condition      84174
UNSANITARY CONDITION        79183
Noise - Street/Sidewalk     73053
Water System                64953
Noise                       60122
Name: complaint_type, dtype: int64

In [202]:
result1 = df1[df1.complaint_type.isin(top_10_complaint_types.index.tolist())][['borough', 'complaint_type']].groupby(['borough', 'complaint_type'])['complaint_type'].count()

In [265]:
result1

borough        complaint_type
BRONX          Blocked Driveway           24480
               HEAT/HOT WATER             67828
               Illegal Parking            16099
               Noise                       3131
               Noise - Residential        57420
               Noise - Street/Sidewalk    14024
               Street Condition           11759
               Street Light Condition     18408
               UNSANITARY CONDITION       24530
               Water System               10193
BROOKLYN       Blocked Driveway           49154
               HEAT/HOT WATER             66079
               Illegal Parking            55306
               Noise                      15401
               Noise - Residential        67482
               Noise - Street/Sidewalk    21306
               Street Condition           25413
               Street Light Condition     22447
               UNSANITARY CONDITION       26636
               Water System               19769
MANHATTAN      Blocked Driveway            3420
               HEAT/HOT WATER             45931
               Illegal Parking            19669
               Noise                      28982
               Noise - Residential        50814
               Noise - Street/Sidewalk    29127
               Street Condition           14833
               Street Light Condition     11073
               UNSANITARY CONDITION       14619
               Water System               10896
QUEENS         Blocked Driveway           54142
               HEAT/HOT WATER             28870
               Illegal Parking            45960
               Noise                      10679
               Noise - Residential        46252
               Noise - Street/Sidewalk     7526
               Street Condition           30625
               Street Light Condition     24255
               UNSANITARY CONDITION       11449
               Water System               18762
STATEN ISLAND  Blocked Driveway            3465
               HEAT/HOT WATER              2042
               Illegal Parking             7574
               Noise                       1926
               Noise - Residential         6744
               Noise - Street/Sidewalk      853
               Street Condition           10559
               Street Light Condition      6595
               UNSANITARY CONDITION        1949
               Water System                5333
Unspecified    Blocked Driveway            1016
               Illegal Parking             1275
               Noise                          3
               Noise - Residential          683
               Noise - Street/Sidewalk      217
               Street Condition              42
               Street Light Condition      1396
Name: complaint_type, dtype: int64

## Task 2

1) Load '2010_population.csv' dataset into a dataframe as df2

2) Sort "Population" column in descending order and limit first 10 rows. Save into a Pandas Series 'top_10_populous'

3) Filter out df1 for rows with 'incident_zip' present in 'top_10_populous'

4) Group df2 by incident zip, and for each zip count 'complaint_type'

In [204]:
df2 = pd.read_csv('2010_census.csv')

In [205]:
df2.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [206]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33092 entries, 0 to 33091
Data columns (total 2 columns):
Zip Code ZCTA             33092 non-null int64
2010 Census Population    33092 non-null int64
dtypes: int64(2)
memory usage: 517.1 KB

In [207]:
top_10_populous = df2.sort_values(by=['2010 Census Population'], ascending=False).head(10)

In [211]:
result2 = df1[df1.incident_zip.isin(top_10_populous.index.tolist())][['incident_zip', 'complaint_type']].groupby(['incident_zip', 'complaint_type'])['complaint_type'].count()

In [264]:
result2

Series([], Name: complaint_type, dtype: int64)

## Task 3

1) Get total complaints for each borough

2) Get total population for each borough

3) Add a new column "diff" that stores difference between total complaints and total population for each borough

4) Sort dataframe on "diff" in descending order

In [213]:
# Total complaints
df1.groupby(['borough', 'complaint_type'])['complaint_type'].count().sum()

2439273

In [254]:
# Total complaints per borough
total_complaints = df1.groupby('borough')['complaint_type'].count()

In [255]:
# Validate that df3 has all borough's
total_complaints

borough
BRONX            447470
BROOKLYN         759090
MANHATTAN        479015
QUEENS           585721
STATEN ISLAND    126529
Unspecified       41448
Name: complaint_type, dtype: int64

In [256]:
# Create new dataframe consisting of borough and corresponding total complaint count
df3 = pd.DataFrame({'borough':total_complaints.index, 'total_complaints':total_complaints.values})

In [257]:
df3

         borough  total_complaints
0          BRONX            447470
1       BROOKLYN            759090
2      MANHATTAN            479015
3         QUEENS            585721
4  STATEN ISLAND            126529
5    Unspecified             41448

In [258]:
# Add new column for population
# Dummy value
df3['population'] = 0

In [259]:
df3

         borough  total_complaints  population
0          BRONX            447470           0
1       BROOKLYN            759090           0
2      MANHATTAN            479015           0
3         QUEENS            585721           0
4  STATEN ISLAND            126529           0
5    Unspecified             41448           0

In [261]:
# Calculate difference between total complaints and population for each borough. Add the difference in a new column
df3['diff'] = df3['total_complaints'] - df3['population']

In [263]:
# Sort by difference
df3.sort_values(by=['diff'], ascending=False)

         borough  total_complaints  population    diff
1       BROOKLYN            759090           0  759090
3         QUEENS            585721           0  585721
2      MANHATTAN            479015           0  479015
0          BRONX            447470           0  447470
4  STATEN ISLAND            126529           0  126529
5    Unspecified             41448           0   41448